.title { 
	background: #ff9e00;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding: 1em;
    line-height: 3px;
    color: #fff;
	border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
	justify-content: space-between;
}
.content{
	display: flex;
    letter-spacing: 1px;
	padding: 30px;
	flex-direction: column;
}
.container {
	max-width: 470px;
	width: 100%;
	border-radius: 5px;
	font-family: sans-serif;
	display: block;
	background-color: white;
	margin: 29vh auto;
	
}
.cancelBt {
	color: #0275a7;
	background: #fff;
	width: 90px;
	height: 37px;
	font-size: 11px;
	letter-spacing: 1.25px;
	text-align: center;
	line-height: 28px;
	border: none;
	outline: none;
	border-radius: 4px;
	font-weight: 600;
	margin-left: 10px;
	cursor: pointer;
	margin-right: 10px;
}
.cancelBt:hover{background: #f9f9f9;}
.submitBt {
	background: #59a385;
	width: 90px;
	height: 37px;
	font-size: 11px;
	letter-spacing: 1.25px;
	color: #ffffff;
	text-align: center;
	line-height: 24px;
	border: none;
	outline: none;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
}
.submitBt:hover {
	background: #59a385;
}
.bottomRow {
	margin-top: 15px;
	display: flex;
    justify-content: flex-end;
}
.warningText {
	font-size: 17px;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	margin-top: 0;
}
.clickable {
	cursor: pointer;
  }
.flexBox{
	display: flex;
    align-items: center;
}
.note{
	font-size: 14px;
    color: #ff9e00;
    margin-bottom: 10px;
}
.grayBox{
	background-color: #f9f9f9;
    padding: 15px;
	font-weight: 600;
}