.tableHeader {
  width: auto;
  max-width: 100%;
  padding-top: 0.5em;
  padding-left: 0.1em;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  color: #5c5b5b;
  /* to align with scrollbar space in the list */
  padding-right: 5px;
  overflow-x: scroll;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}
